/*margin for body*/
body {
  /*margin-left: 10px;
  margin-right: 10px;*/
  background-color: #ddd;
}

/*Masthead for nav */

.blog-masthead {
  height: 75px;
}

/* Nav links */
.blog-nav-item,
#blog-name {
  position: relative;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  color: #111; 
  font-size: 18px;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #aaa;
  text-decoration: none;
}

/*Portrait sizing*/
.portrait {
  height: 150px;
  width: auto;
  margin-right: 30px;
}

/*about page project list*/
.project-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #5D707F;
}
.project-item:hover,
.project-item:focus {
  color: #66CDAA;
  text-decoration: none;
}

/*sticky footer*/
.footer {
  height: 70px;
  padding-top: 20px;
  padding-right: 10px;
} 

/*setting paragraph font and style*/
p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}

/*setting blog square styles*/
.blog-square {
  height: 300px;
  background-color: #fdfdfd;
  color: #111;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
}

.blog-square:hover {
  background-color: #aaa;
  color: #eee;
}

.blog-square .date {
  color: #bbb;
  font-style: italic;
}

.blog-square:hover .date {
  color: #ccc;
}

.blog-square:hover h4 {
  color: #fff;
}

.footer p {
  color: #ccc;
  font-size: 12px;
}

.blog-square-container {
  background-color: #fdfdfd;
}

.blog-square-empty {
  height: 300px;
  background-color: #fdfdfd;
  color: #111;
}

#signature-block {
  height: 50px;
  width: auto;
}

.blog-main-square {
  height: 300px;
  background-image: url('/images/roosters.jpg');
  background-size: 100% 100%;
}

#photo-stream {
  text-align: center;
}

#tweeter-listener {
  text-align: center;
}

#bee-three {
  text-align: center;
}