<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{page.title}}</title>
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
  <!-- Latest compiled and minified CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

	{% include header.html %}
	
<div class="jumbotron">
  <h1>Courtney McIlhenny :: Blog<img class="img-circle pull-right portrait" src="images/me.jpeg"></h1>
 <div style="margin-top:35px">
          <a href="https://twitter.com/camcil" class="btn btn-social btn-twitter">
            <i class="fa fa-twitter"></i> Twitter
          </a>
          <a href="http://linkedin.com/in/courtneymcilhenny/" class="btn btn-social btn-linkedin">
            <i class="fa fa-linkedin"></i> LinkedIn
          </a>
          <a href="https://github.com/cmcilhenny" class="btn btn-social btn-github">
            <i class="fa fa-github"></i> Github
          </a>
          <br>
        </div>
</div>
    <div class="container">
    	<div class="row">
    		<div class="col-sm-12 col-lg-8 col-lg-offset-1">
					{{ content }}
				</div>
			</div>
		</div>

		{% include footer.html%}
	 
   <script href="javaScripts/bootstrap.min.js"></script>
</body>
</html>