<!DOCTYPE html>

<html ng-app="myApp">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{page.title}}</title>
  <!-- Latest compiled and minified CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- My own CSS -->
  <link rel="stylesheet" type="text/css" href="./css/stylesheet.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

	{% include header.html %}
	

<!-- <div class="jumbotron col-xs-12">
  <div class="container">
  <h1>Courtney McIlhenny :: Blog<img class="img-circle pull-right portrait img-responsive" alt="Responsive image" src="images/me.jpg"></h1>
 <div style="margin-top:35px">
    <a href="https://twitter.com/camcil" class="btn btn-social btn-twitter">
      <i class="fa fa-twitter"></i> Twitter
    </a>
    <a href="http://linkedin.com/in/courtneymcilhenny/" class="btn btn-social btn-linkedin">
      <i class="fa fa-linkedin"></i> LinkedIn
    </a>
    <a href="https://github.com/cmcilhenny" class="btn btn-social btn-github">
      <i class="fa fa-github"></i> Github
    </a>
    <br>
  </div>
</div>
</div> -->




<div class="container">
  <div class="row">
    <div class="col-xs-12 home-content">
      {{ content }}
    </div>
  </div>
</div>

		{% include footer.html%}

</body>
</html>